body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4a90e2;
  padding: 0.6rem;
  text-align: center;
  position: relative;
  z-index: 2;
  width: 80%;  /* Adjust this value as needed */
  margin: 0 auto; /* Centers the header if it's width is less than 100% */
  border-bottom-left-radius: 10px; /* Add this line to round the bottom left corner */
  border-bottom-right-radius: 10px; 
}

h1 {
  color: #fff;
  font-size: 2.5rem;
}

main {
  padding: 2rem;
  margin-top: 2rem;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.description {
  flex: 1;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  max-width: 800px;
  min-height: 1200px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.pdf-viewer {
  flex: 1;

  width: 100%;
  height: 600px;
}

.pdf-container {
  flex: 1;
  padding-left: 1rem;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

embed {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.open-btn {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  width: 30%;
  background-color: #4a90e2;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.open-btn:hover {
  background-color: #3e7dc8;
}

/* Responsive design for smaller devices */

@media (max-width: 768px) {
  .project {
    flex-direction: column;
  }

  .description {
    min-width: auto;
    max-width: 100%;
  }

  .pdf-container {
    min-width: auto;
    min-height: auto;
    max-width: 100%;
    padding-left: 0;
    margin-top: 1rem;
  }
}
